.cabecalho {
  @include flex($align: center, $justify: space-between);
  padding: 3.12rem 4.88rem;
  background-color: $cor-branca;

  &__container {
    @include flex($align: end, $gap: 6.1rem);
  }

  &__logo {
    width: 15rem;
    margin-bottom: 2px;
  }

  &__navegacao {
    @include flex($align: center, $gap: 4.88rem);
    font-size: 1.25rem;
    font-weight: 600;
  }

  &__lista {
    @include flex($gap: 4.88rem);
    list-style: none;

    &--tipo {
      @include flex($direction: column, $gap: 0.65rem);
    }
  }

  &__link {
    font-size: 1.33rem;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    line-height: 1;
    border-bottom: solid 2px transparent;

    &--ofertas {
      color: red;
    }

    &--tipo {
      font-size: 1.25rem;
      font-weight: 400;
      color: $cor-cinza;

      &:hover {
        border-bottom: none;
        text-decoration: underline;
        text-decoration-thickness: 2px;
      }
    }

    &:hover {
      border-bottom-color: currentColor;
    }

    &__icones {
      @include flex($align: center, $gap: 1.2rem);
    }

    &__icone {
      display: inline-block;
      color: inherit;
      fill: currentColor;
      // stroke: currentColor;
      width: 2rem;
      height: 2rem;
    }
  }
}
