.cabecalho {
  @include flex($align: center, $justify: space-between);
  padding: 3.12rem 4.88rem;

  &__container {
    @include flex($align: center, $gap: 6.1rem);
  }

  &__logo {
    width: 15rem;
    margin-bottom: 2px;
  }

  &__navegacao {
    @include flex($align: center, $gap: 4.88rem);
    font-size: 1.25rem;
    font-weight: 600;
  }
  &__link {
    font-size: 1.33rem;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    line-height: 1;
    border-bottom: solid 2px transparent;

    &--ofertas {
      color: red;
    }

    &:hover {
      border-bottom-color: currentColor;
    }
    &__icone {
      color: inherit;
    }
  }
}
